@use "./variables.scss" as *;

/* Increase the main content area */
#quarto-document-content {
  width: 85%; /* Or a specific pixel value */
}

/* Adjust the sidebar width */
#quarto-sidebar {
  width: 15%; 
  max-width: 200px;
}

p, text, li, ol, ul, tbody {
    font-size: 18px;
    line-height: 2.0rem;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 20px;
  
  
  
}// put your custom CSS here!
